.m-dialog{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.422);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.m-dialog .m-dialog-content{
    position: absolute;
    /* width: 1000px; */
    /* height: 700px; */
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 400px;
}
.m-dialog .m-dialog-content-detail{
    padding-bottom:0px ;
}
/* Dialog header */
.m-dialog .m-dialog-content .m-dialog-header{
    display: flex;
    justify-content: space-between;
    margin: 24px;
}
.m-dialog .m-dialog-content .m-dialog-header .m-dialog-title{
    font-size: 20px;
    font-weight: bold;
    height: 24px;
    box-sizing: border-box;
}
.m-dialog .m-dialog-content .m-dialog-header .m-dialog-close{
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icon/close-48.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Dialog body */
.m-dialog .m-dialog-content .m-dialog-body{
    height: calc(100% - 108px);
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 24px;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-empid{
    width: 20%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-empid input{
    width: 100%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-name{
    width: 30%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-name input{
    width: 100%;
}

.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-item{
    margin-right: 16px;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-gender{
    width: calc(50% - 156px);
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-gender .m-radiobtn{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
    height: 36px;
    padding-right: 16px;
    flex-wrap: wrap;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-gender .m-radiobtn .m-radio{
    display: flex;
    align-items: center;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-gender .m-radiobtn .m-radiofemale{
    margin: 0 7px;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-input-lable span{
    color: red;
}

.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-position{
    width: calc(50%);
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-position select{
    width: 100%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-idcard{
    width: calc(50% - 162px);
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-idcard input{
    width: 100%;
}

.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-department{
    width: 50%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-department select{
    width: 100%;
}

.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-licensingplace{
    width: 50%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-licensingplace input{
    width: 100%;
}

.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-address{
    width: 100%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-address input{
    width: 100%;
}

.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-phonenumber{
    width: 33.3333%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-phonenumber input{
    width: 100%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-landlinenumber{
    width: 33.3333%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-landlinenumber input{
    width: 100%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-email{
    width: 33.3333%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-email input{
    width: 100%;
}

.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-bankaccount{
    width: 33.3333%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-bankaccount input{
    width: 100%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-bankname{
    width: 33.3333%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-bankname input{
    width: 100%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-branch{
    width: 33.3333%;
}
.m-dialog .m-dialog-content .m-dialog-body .m-dialog-row .m-row-branch input{
    width: 100%;
}

.m-dialog .m-dialog-content .m-dialog-body .m-diaglog-row-last{
    margin-bottom: 24px;
}
/* Dialog footer */
.m-dialog .m-dialog-content .m-dialog-footer{
    /* position: absolute; */
    /* bottom: 24px; */
    text-align: right;
    box-sizing: border-box;
    height: 36px;
    margin-bottom: 24px;
    margin-right: 24px;
}
.m-dialog .m-dialog-content .m-dialog-footer-detail{
    background-color: #F5F5F5;
    border-bottom-right-radius:4px ;
    border-bottom-left-radius:4px ;
    height: 60px;
    padding-right: 24px;
    align-items: center;
    display: flex;
    border-top: 1px solid #E0E0E0;
    margin-bottom: 0px;
    margin-right: 0px;
}
.m-dialog .m-dialog-content .m-dialog-footer .m-footer-button{
    position: absolute;
    right: 24px;
    box-sizing: border-box;
}
.m-dialog .m-dialog-content .m-dialog-footer .m-button{
    margin-left: 8px;
}