.m-button{
    min-width: 80px;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: #50B83C;
    color: #FFF;
    text-align: center;
    line-height: 36px;
}
.m-button:hover{
    background-color: #57C841;
    cursor: pointer;
}
.m-button:active{
    background-color: #033C1A;
}
.m-button-icon{
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    padding-left: 36px;
}
.m-button-icon-add{
    background-image: url(../../assets/icon/add.png);
}

.m-button-secondary{
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    height: 36px;
    background-color: #ffffff;
    min-width: 75px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}