.main{
    width: calc(100% - 200px);
    height: calc(100vh - 56px);
    border-top:1px solid #e6e6e6 ;
    box-sizing: border-box;
    position: relative;
    /* float: left; */

    /* position: absolute;
    top: 56px;
    left: 200px; */
}
/* Title-table */
.main .m-title-table{
    width: 100%;
    display: flex;
    padding: 24px 16px 6px 24px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.main .m-title-table .m-title-table-left{
    font-size: 16px;
    display: flex;
}
.main .m-title-table .m-title-table-left .m-title-icon i{
    margin-left: 8px;
}
/* Toolbar-table */
.main .m-toolbar-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 12px;
    box-sizing: border-box;
}
.main .m-toolbar-table .m-toolbar-quickfilter{
    margin-left: 24px;
}
.main .m-toolbar-table .m-toolbar-quickfilter input{
    margin-top: 0;
}
.main .m-toolbar-table .m-toolbar-actionbar{
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.main .m-toolbar-table .m-toolbar-actionbar .m-toolbar-icon{
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}
.main .m-toolbar-table .m-toolbar-actionbar .m-toolbar-export{
    background-image: url(../../assets/icon/export-excel-50.png);
    margin-right: 12px;
}
.main .m-toolbar-table .m-toolbar-actionbar .m-toolbar-refresh{
    background-image: url(../../assets/icon/refresh.png);
}
