nav{
    background-color: #041434;
    width: 200px;
    height: calc(100vh - 56px);
    padding-top: 16px;
    box-sizing: border-box;
    /* float: left; */

    position: relative;
}
nav .m-nav-item{
    height: 44px;
    margin: 0px 12px 4px 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}
nav .m-nav-item:hover{
    background-color: #1E3155;
}
nav .m-nav-item .m-nav-icon{
    margin: 0 12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}
nav .m-nav-item .m-nav-dashboard{
    background-image: url(../../assets/icon/dashboard.png);
}
nav .m-nav-item .m-nav-report{
    background-image: url(../../assets/icon/report.png);
}
nav .m-nav-item .m-nav-employee{
    background-image: url(../../assets/icon/dic-employee.png);
}
nav .m-nav-item .m-nav-setting{
    background-image: url(../../assets/icon/setting.png);
}
nav .m-nav-item .m-nav-text{
    /* color: #dbdee3; */
    color: #7b8798;
}
nav .m-nav-item:hover .m-nav-text{
    /* color: #dbdee3; */
    color: #fff;
}
nav .m-nav-last{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e6e6e6;
    width: 200px;
}
nav .m-nav-last .m-nav-item{
    background-color: unset;
    margin-bottom: 0;
}
nav .m-nav-last .m-nav-item .m-nav-text{
    color: #7b8798;
}
nav .m-nav-item .m-nav-prev{
    background-image: url(../../assets/icon/btn-prev-page.svg);
}